

body {
    background:#418;
    color: rgb(218, 189, 255);
    font-family: 'Open Sans', sans-serif;
    max-width:900px;
    margin: 0 auto; 
    padding-top:1em;
    line-height:1.7;
}

a {
    color: #fff;
    text-decoration:none;
    border-bottom:1px solid;
}

dt {
    font-weight:bold;
    float:left;
    clear:both;
}
dd {
    margin-left:9em;
}

h1,h2,h3 {
    color: rgb(235, 219, 255);
}

li {
    margin-bottom:.5em;
}

.data-list:after {
    content:'';
    display:table;
    clear:both;
}