{{ define "main" }}

<h1>{{ .Title }}</h1>

<div class="post-info-last-mod">
    Updated: 
    <time datetime="{{ .Lastmod }}" title="{{ .Lastmod }}">
        {{ .Lastmod }}
    </time>
</div>

<dl class="data-list">
    <dt>Address:</dt><dd>{{.Params.Address}}</dd>
    <dt>Bathrooms:</dt><dd>{{cond .Params.Bathrooms "Yes" "No"}}</dd>
    <dt>Runnable:</dt><dd>{{cond .Params.Runnable "Yes" "No"}}</dd>
    <dt>Shade:</dt><dd>{{.Params.Shade}}/3</dd>
    <dt>Condition:</dt><dd>{{.Params.Condition}}/3</dd>
    <dt>Overall rating:</dt><dd>{{.Params.Rating}}/5</dd>
</dl>

{{ .Content }}

{{end}}